---
import BentoItem from "./BentoItem.astro";
---

<section id="servicios" class="mt-32 pt-20">
  <h2 class="text-center font-bold text-xl">SERVICIOS</h2>

  <div
    class="w-full md:max-w-[1200px] grid grid-cols-10 auto-rows-[30rem] gap-4 mx-auto p-10 pt-10"
  >
    <BentoItem class="col-span-10 md:col-span-6" title="CLONACIÓN DE LLAVE">
      <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 w-full h-full opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-sky-500/30 -z-10"
        style="background-image: url(/llave_lector_s1.jpg);"
      >
      </div>

      <p slot="content" class="max-w-xl text-md text-white">
        El servicio de cerrajería de clonación de llave ofrece la duplicación
        precisa de llaves, garantizando copias funcionales y seguras para
        hogares, vehículos y negocios, con rapidez y profesionalismo.
      </p>
    </BentoItem>

    <BentoItem
      class="col-span-10 md:col-span-4 md:row-span-2"
      title="TITULO DEL SERVICIO 2"
    >
      <p slot="content" class="max-w-xl text-md">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s
      </p>
    </BentoItem>
    <BentoItem class="col-span-10 md:col-span-3" title="TITULO DEL SERVICIO 3">
      <p slot="content" class="max-w-xl text-md">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s
      </p>
    </BentoItem>
    <BentoItem class="col-span-10 md:col-span-3" title="TITULO DEL SERVICIO 4">
      <p slot="content" class="max-w-xl text-md">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s
      </p>
    </BentoItem>
  </div>
</section>
