---
import placeholder from "../assets/background.svg";
---

<section
  class="flex justify-center w-full pt-[150px] max-w-[1200px] mx-auto px-12"
  id="description"
>
  <div
    class="textos flex flex-col justify-center md:pr-12 md:justify-start md:max-w-[700px]"
  >
    <div class="flex flex-col justify-start">
      <img src="/llave2.jpg" class="rounded-full mb-3" width="64" alt="" />

      <h1 class="font-bold text-2xl pb-3 text-left md:text-left">
        ANDRÉS LLAVES
      </h1>
    </div>

    <p class="">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
      necessitatibus dicta labore quo! Nesciunt laudantium ipsam dignissimos
      eaque? Alias, fugiat? Modi excepturi in sed voluptatum omnis! Dolorum
      provident, quis magni soluta ullam dignissimos assumenda minima similique
      quod, officia modi dolore. Incidunt, quibusdam ipsam autem repellendus
      corrupti rerum velit perspiciatis optio.
    </p>
  </div>

  <div class="flex w-full">
    <img
      src="/andresllaves.jpg"
      alt="andres_llaves_logo"
      class="rounded-xl hidden md:block"
    />
  </div>
</section>
