<section class="mt-20 pt-20 bg-gray-100 pb-12" id="experiencia">
  <h2 class="text-center font-bold text-xl mb-4">EXPERIENCIA</h2>

  <div class="flex justify-center md:max-w-[1200px] mx-auto">
    <p class="px-12 text-lg">
      Con más de <strong>20 años de experiencia</strong> en el sector de la cerrajería,
      he tenido el privilegio de ayudar a innumerables personas a mejorar la seguridad
      de sus hogares, negocios y vehículos. Mi compromiso se centra en <strong>
        ofrecer soluciones personalizadas, rápidas y efectivas</strong
      >, siempre priorizando la tranquilidad y satisfacción de mis clientes. A
      lo largo de mi trayectoria, he perfeccionado mis habilidades en la
      instalación, reparación y mantenimiento de sistemas de cierre
      <strong>tradicionales y modernos</strong>, adaptándome constantemente a
      las nuevas tecnologías del mercado. Mi objetivo es proporcionar un
      servicio de calidad que no solo resuelva problemas, sino que también
      contribuya a la confianza y bienestar de quienes confían en mi trabajo.
    </p>

    <div class="flex">
      <div class="pr-12 hidden md:block">
        <h2 class="mb-2 text-3xl md:text-4xl font-extrabold">20+</h2>
        <p class="font-light text-center">AÑOS</p>
      </div>

      <div class="pr-12 hidden md:block">
        <h2 class="mb-2 text-3xl md:text-4xl font-extrabold">1000+</h2>
        <p class="font-light text-center">SERVICIOS</p>
      </div>
    </div>
  </div>
</section>
