<section class="mt-32 pt-10 bg-gray-100 pb-12" id="experiencia">
  <h2 class="text-center font-bold text-xl mb-4">EXPERIENCIA</h2>

  <div class="flex justify-center md:max-w-[1200px] mx-auto">
    <p class="px-12">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi alias
      tempore sunt quas deserunt labore enim qui consequatur ipsum repellat! In
      veniam deserunt recusandae adipisci et accusantium quos illum mollitia
      assumenda blanditiis, cum quia quidem quisquam quis voluptas sunt. Nemo
      sint distinctio itaque expedita, commodi iste doloremque ex atque
      perferendis!
    </p>

    <div class="flex">
      <div class="pr-12 hidden md:block">
        <h2 class="mb-2 text-3xl md:text-4xl font-extrabold">20+</h2>
        <p class="font-light text-center">AÑOS</p>
      </div>

      <div class="pr-12 hidden md:block">
        <h2 class="mb-2 text-3xl md:text-4xl font-extrabold">1000+</h2>
        <p class="font-light text-center">SERVICIOS</p>
      </div>
    </div>
  </div>
</section>
