<header>
	<div
		class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
	>
		<ul
			class="flex text-sm font-medium rounded-full justify-center items-center md:gap-8"
		>
			<li>
				<a
					href="#description"
					class="relative block px-2 py-2 transition hover:text-blue-500"
					>INICIO</a
				>
			</li>
			<li class="relative block px-2 py-2 transition hover:text-blue-500">
				<a href="#servicios">SERVICIOS</a>
			</li>
			<li class="relative block px-2 py-2 transition hover:text-blue-500">
				<a href="#experiencia">EXPERIENCIA</a>
			</li>
			<li class="relative block px-2 py-2 transition hover:text-blue-500">
				<a href="#contacto">CONTACTO</a>
			</li>
		</ul>
	</div>
</header>

<style>
	ul {
		animation: nav-shadown 3s ease-out both;
		animation-timeline: scroll();
		animation-range: 0 200px;
	}

	ul {
		@apply bg-gray-200;
	}

	@keyframes nav-shadown {
		0% {
			@apply bg-white/0;
		}
		to {
			@apply shadow-lg ring-1 backdrop-blur ring-white/10;
		}
	}
</style>
